# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Environment variables
.env
.env.*

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.db